.translate-container {
    transition: border-radius 2s ease-in-out;
    &:hover {
        border-radius: 20%;
    }
    margin-bottom: 2rem;
    width: 100%;
    background-color: pink;
    height: 30vh;
    position: relative;
    img {
        height: 8rem;
        max-height: 30vh;
    }
    .icon2 {
        //translate percentage are of element itself;
        // position percentage are of parent!;
        //transform: rotate(46deg);
        //transform: scale(5.25, 0.75);
        //transform: translate(2rem, 1rem);
        //ransform: translate(50%, 0);
        // position: ralative;
        // right: 50%;
        transform: translate(2rem, 35px);
        &:hover {
            transform: translate(2rem, 35px) rotate(30deg) scale(2, 2);
        }
    }
    .icon1 {
        //transform: rotate3d(90deg);
        //transform: scale(4, 1);
        //transform: translate(40%, 0);
        &:hover {
            height: 12rem;
        }
        transition: height 2s;
    }
    .icon3 {
        //transform: rotate3d(35deg);
        //transform: scale(1, 5);
        transform: translate(0, 30%);
    }
}

// #button1:hover {
//     transform: scale(2, 2);
//     //transform: translate(0, 50%);
// }
// #button1:active {
//     transform: rotate(96deg);
//     background-color: green;
// }
#button1 {
    border-radius: 10px;
    background-color: #ff6a80;
    color: #0000FF;
    &:hover {
        transform: scale(1.2, 1.2);
    }
    &:active {
        color: white;
        transform: translate(200%, 500%);
    }
    transition: transform 2s;
}

.div-container div {
    height: 6rem;
    width: 6rem;
    &#pink {
        background-color: pink;
        transition: background-color 3s ease-in 1s;
        &:hover {
            transform: scale(2);
            background-color: green;
        }
        transition: transform 5s;
    }
    &#orange {
        background: orange;
        //transition: background-color 3s ease-in-out 1s;
        &:hover {
            transform: rotate(96deg);
            background-color: lightyellow;
        }
        transition: transform 5s;
        //transition: background-color 3s ease-in-out 1s;
        //transition: background-color 5s;
    }
    &#blue {
        //background: blue;
        background-color: skyblue;
        transition: background-color 3s ease-in 1s;
        &:hover {
            transform: translate(40%, 0);
            background-color: blue;
        }
        transition: transform 5s;
    }
}

.tex1 {
    transition: opacity 3s;
    &:hover {
        opacity: 0;
    }
}